.bodyIndex {
  margin: 0;
  padding: 0;
  background-image: url(../assets/img/logofondo.jpg);
  background-attachment: fixed;
  background-size: 100%; }

.carruselIndex {
  margin: 0 20px 0 20px; }

.containerGaleria {
  padding: 0px 120px 0px 120px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), black); }

.textoIndex {
  text-align: center;
  padding: 20px 0px 0px 0px;
  color: #dab903; }

.textoIndex1 {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.textoIndex2 {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.textoIndex3 {
  text-align: center;
  color: #dab903;
  font-size: 18px;
  font-family: cursive;
  font-weight: 400;
  padding: 12px; }

.parrafoCont1 {
  color: #0e0d0dd3;
  font-size: 22px;
  font-family: monospace;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: center; }

.galeriaContainer1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.galeriaItem1 {
  position: relative;
  border: white solid 3px;
  border-radius: 3px; }

.galeriaImg1 {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galeriaTitulo1 {
  position: absolute;
  bottom: 0px;
  color: #dab903;
  background: linear-gradient(rgba(255, 255, 255, 0.1), black);
  width: 100%;
  margin: 5;
  padding: 12px;
  font-size: 22px;
  text-align: center;
  font-family: monospace; }

.galeriaItem1:nth-child(1) {
  grid-row-start: span 2;
  grid-column-start: span 1; }

.galeriaItem1:nth-child(2) {
  grid-row-start: span 1;
  grid-column-start: span 1; }

.galeriaItem1:nth-child(3) {
  grid-row-start: span 1;
  grid-column-start: span 1; }

.galeriaItem1:nth-child(4) {
  grid-row-start: span 1;
  grid-column-start: span 2; }

.galeriaItem1:nth-child(5) {
  grid-row-start: span 1;
  grid-column-start: span 2; }

.galeriaItem1:nth-child(6) {
  grid-row-start: span 3;
  grid-column-start: span 1; }

.galeriaItem1:nth-child(7) {
  grid-row-start: span 2;
  grid-column-start: span 1; }

.galeriaItem1:nth-child(8) {
  grid-row-start: span 2;
  grid-column-start: span 1; }

.tituloYo1 {
  color: #0e0d0dd3;
  font-size: 22px;
  font-family: monospace;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: left; }

.parrafoYo1 {
  color: #0e0d0dd3;
  font-size: 16px;
  font-family: serif;
  font-weight: lighter;
  letter-spacing: 1.5px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

@media (min-width: 1024px) {
  .galeriaItem1:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 1; }
  .galeriaItem1:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .galeriaItem1:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .galeriaItem1:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(6) {
    grid-row-start: span 3;
    grid-column-start: span 1; }
  .galeriaItem1:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 1; }
  .galeriaItem1:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: span 1; } }

@media (min-width: 426px) and (max-width: 768px) {
  .galeriaContainer1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .galeriaItem1:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 4; }
  .galeriaItem1:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 4; }
  .galeriaItem1:nth-child(6) {
    grid-row-start: span 3;
    grid-column-start: span 4; }
  .galeriaItem1:nth-child(7) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 2; } }

@media (min-width: 0px) and (max-width: 425px) {
  .galeriaContainer1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .containerGaleria {
    padding: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.1), black); }
  .galeriaItem1:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 4; }
  .galeriaItem1:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 4; }
  .galeriaItem1:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 4; }
  .galeriaItem1:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 4; }
  .galeriaItem1:nth-child(7) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .galeriaItem1:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 2; } }

.mainServicios {
  padding-left: 18px;
  padding-right: 18px; }

.fondoServicios {
  background: black;
  background: linear-gradient(90deg, black 0%, #686868 100%);
  border: 1px solid whitesmoke;
  border-radius: 8px; }

.textoServicios1 {
  font-size: 22px;
  color: whitesmoke;
  font-family: monospace; }

.textoServicios2 {
  font-size: 16px;
  color: whitesmoke;
  font-family: monospace; }

.bodyQuien {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.containerQuien {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  background: black; }

.tituloQuien {
  font-size: 40px;
  margin-bottom: 60px;
  color: whitesmoke;
  font-family: 'Xanh Mono', monospace; }

.imgQuien {
  width: 320px;
  float: left;
  margin-right: 20px;
  margin-bottom: 14px;
  border: .5px whitesmoke solid;
  border-radius: 8px; }

.imgQuien2 {
  width: 320px;
  float: right;
  margin-right: 20px;
  margin-bottom: 14px;
  border: .5px whitesmoke solid;
  border-radius: 8px; }

.imgQuien3 {
  width: 320px;
  float: left;
  margin-right: 20px;
  margin-bottom: 14px;
  border: .5px whitesmoke solid;
  border-radius: 8px; }

.containerQuien p {
  font-size: 18px;
  font-weight: 300;
  color: whitesmoke;
  font-family: 'Cutive Mono', monospace; }

.subtituloQuien {
  font-size: 30px;
  font-weight: 400;
  color: whitesmoke;
  font-family: 'Xanh Mono', monospace; }

@media only screen and (min-width: 480px) {
  .imgQuien {
    width: 100%;
    float: left;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; }
  .imgQuien2 {
    width: 100%;
    float: right;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; }
  .imgQuien3 {
    width: 100%;
    float: left;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; } }

@media only screen and (max-width: 425px) {
  .imgQuien {
    width: 100%;
    float: left;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; }
  .imgQuien2 {
    width: 100%;
    float: right;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; }
  .imgQuien3 {
    width: 100%;
    float: left;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; } }

@media only screen and (min-width: 1024px) {
  .imgQuien {
    width: 320px;
    float: left;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; }
  .imgQuien2 {
    width: 320px;
    float: right;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; }
  .imgQuien3 {
    width: 320px;
    float: left;
    margin-right: 20px;
    margin-bottom: 14px;
    border: .5px whitesmoke solid;
    border-radius: 8px; } }

/* galeria css*/
.parrafoCont {
  color: #0e0d0dd3;
  font-size: 22px;
  font-family: monospace;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: center; }

.galeriaContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  padding: 20px;
  grid-gap: 10px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.galeriaItem {
  position: relative;
  border: #dab903 solid 1px;
  border-radius: 8px; }

.galeriaItem:hover {
  filter: opacity(0.9);
  transform: scale(1.1); }

.galeriaImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 8px; }

.galeriaTitulo {
  position: absolute;
  bottom: 0px;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0.1), black);
  width: 100%;
  margin: 5;
  padding: 12px;
  font-size: 22px;
  text-align: center;
  font-family: monospace; }

.galeriaItem:nth-child(4) {
  grid-column-start: span 2; }

.galeriaItem:nth-child(1) {
  grid-row-start: span 2; }

.galeriaItem:nth-child(5) {
  grid-column-start: span 2; }

.tituloYo {
  color: #0e0d0dd3;
  font-size: 22px;
  font-family: monospace;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: left; }

.parrafoYo {
  color: #0e0d0dd3;
  font-size: 16px;
  font-family: serif;
  font-weight: lighter;
  letter-spacing: 1.5px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

@media (min-width: 1024px) {
  .galeriaContainer {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto; }
  .galeriaItem:nth-child(4) {
    grid-column-start: span 2; }
  .galeriaItem:nth-child(1) {
    grid-row-start: span 2; }
  .galeriaItem:nth-child(5) {
    grid-column-start: span 2; } }

@media (min-width: 426px) and (max-width: 768px) {
  .galeriaContainer {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto; }
  .galeriaItem:nth-child(4) {
    grid-column-start: span 2; }
  .galeriaItem:nth-child(1) {
    grid-row-start: span 2; }
  .galeriaItem:nth-child(5) {
    grid-column-start: span 2; } }

@media (min-width: 0px) and (max-width: 425px) {
  .galeriaContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto; }
  .galeriaItem:nth-child(4) {
    grid-column-start: span 2; }
  .galeriaItem:nth-child(1) {
    grid-column-start: span 2; }
  .galeriaItem:nth-child(3) {
    grid-column-start: span 2; }
  .galeriaItem:nth-child(2) {
    grid-column-start: span 2; } }

/* cierre galeria css */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none; }

.contenedorContacto .form .formHeader .formTitulo {
  font-weight: normal;
  font-family: monospace;
  color: whitesmoke;
  text-align: center;
  padding: 14px 0; }

.contenedorContacto .form .formHeader .formTitulo span {
  color: #fff; }

.contenedorContacto .form {
  background: linear-gradient(gray, black);
  width: 80%;
  max-width: 520px;
  margin: auto;
  padding: 0px 60px 0px 60px;
  margin-top: 10px;
  padding-bottom: 30px;
  border-radius: 3px; }

.contenedorContacto .form .formLabel {
  display: block;
  color: whitesmoke;
  font-size: 16px;
  font-family: monospace;
  position: relative; }

.contenedorContacto .form .formImput, .formTextarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid whitesmoke;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: monospace; }

.contenedorContacto .form .formTextarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px; }

.contenedorContacto .form .btnSubmit {
  width: 100%;
  font-family: monospace;
  outline: none;
  background: #ff851b;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 0;
  cursor: pointer;
  transition: all .5s ease; }

.contenedorContacto .form .btnSubmit:hover {
  background: #f29718; }

/* css footer*/
.footerProyecto {
  background: linear-gradient(rgba(85, 84, 84, 0.472), black); }

.footerDiv {
  margin-right: -100px;
  margin-left: -100px;
  margin-top: 14px; }

.parrafoFooter {
  font-size: 18px;
  font-family: 'Nanum Gothic Coding', monospace;
  color: #dab903;
  font-weight: bolder;
  margin-top: 12px; }

.logoFooter {
  margin-left: -20px; }

.contenido {
  display: flex;
  perspective: 500px;
  justify-content: end; }

.caja {
  position: relative;
  margin: 10px;
  width: 35px;
  height: 35px;
  transform-style: preserve-3d;
  transition: .9s ease;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
  border-radius: 50%; }

.caja:nth-child(1) {
  background: #3b5998;
  color: white; }

.caja:nth-child(2) {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%);
  color: white; }

.caja:nth-child(3) {
  background: #25d366;
  color: white; }

.delante {
  position: absolute;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  backface-visibility: hidden; }

.caja:hover {
  transform: rotatey(360deg); }

@media only screen and (min-width: 768px) and (max-width: 940px) {
  .caja {
    margin: 4px; } }

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .contenido {
    margin-top: -130px; } }

@media only screen and (min-width: 0px) and (max-width: 374px) {
  .contenido {
    margin-top: -156px;
    margin-right: -24px; } }

/* hr */
hr {
  border: yellow 0.1px solid;
  margin: 6px 0 1px 0; }

/* css nav*/
.nav-link {
  margin-left: 16px !important;
  padding-top: 26px;
  color: yellow !important;
  font-family: sans-serif;
  font-size: 20px !important; }

.navIndex {
  padding-left: 560px; }

.logoNav {
  padding-left: 14px; }

.navbar {
  margin: -5px !important;
  background: linear-gradient(rgba(85, 84, 84, 0.472), black);
  opacity: 0.7; }

.navbar-light .navbar-toggler {
  border-color: white; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/img/logoblanco2.png); }

.bodyQuien {
  margin: 0;
  text-align: center; }

.modal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  animation: modal 2s 1s forwards;
  visibility: hidden;
  opacity: 0;
  z-index: 41; }

.contenidoPop {
  text-align: center;
  margin: auto;
  width: 350px;
  height: 300px;
  background: white;
  border-radius: 10px; }

#cerrar {
  display: none; }

#cerrar + label {
  position: fixed;
  color: #fff;
  font-size: 25px;
  z-index: 50;
  background: darkred;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  right: 300px;
  top: 130px;
  cursor: pointer;
  animation: modal 2s 1s forwards;
  visibility: hidden;
  opacity: 0;
  padding: 0 12px; }

#cerrar:checked + label,
#cerrar:checked ~ .modal {
  display: none; }

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1; } }
