/* css footer*/

.footerDiv {
    margin-right: -100px;
    margin-left: -100px;
    margin-top: 14px;
}

.parrafoFooter {
    font-size: 18px;
    font-family: 'Nanum Gothic Coding', monospace;
    color: rgb(218, 185, 3);
    font-weight: bolder;
    margin-top: 12px;
}

.logoFooter {
    margin-left: -20px;
}

.contenido {
    display: flex;
    perspective: 500px;
    justify-content: end;
}

.caja {
    position: relative;
    margin: 10px;
    width: 35px;
    height: 35px;
    transform-style: preserve-3d;
    transition: .9s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .7);
    border-radius: 50%;
}

.caja:nth-child(1) {
    background: #3b5998;
    color: white;
}

.caja:nth-child(2) {
    background: radial-gradient( circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%);
    color: white;
}

.caja:nth-child(3) {
    background: #25d366;
    color: white;
}

.delante {
    position: absolute;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    backface-visibility: hidden;
}

.caja:hover {
    transform: rotatey(360deg);
}

//medias queries para tablet 
@media only screen and(min-width:768px) and(max-width:940px) {
    .caja {
        margin: 4px;
    }
}

@media only screen and (min-width:375px) and (max-width:767px) {
    .contenido {
        margin-top: -130px;
    }
}

@media only screen and (min-width:0px) and (max-width:374px) {
    .contenido {
        margin-top: -156px;
        margin-right: -24px;
    }
}