.bodyIndex {
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/logofondo.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

.carruselIndex {
    margin: 0 20px 0 20px;
}

.containerGaleria {
    padding: 0px 120px 0px 120px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), black);
}

.textoIndex {
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: rgb(218, 185, 3);
}

.textoIndex1 {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textoIndex2 {
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textoIndex3 {
    text-align: center;
    color: rgb(218, 185, 3);
    font-size: 18px;
    font-family: cursive;
    font-weight: 400;
    padding: 12px;
}

.parrafoCont1 {
    color: #0e0d0dd3;
    font-size: 22px;
    font-family: monospace;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.galeriaContainer1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.galeriaItem1 {
    position: relative;
    border: white solid 3px;
    border-radius: 3px;
}

.galeriaImg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeriaTitulo1 {
    position: absolute;
    bottom: 0px;
    color: rgb(218, 185, 3);
    background: linear-gradient(rgba(255, 255, 255, 0.1), black);
    width: 100%;
    margin: 5;
    padding: 12px;
    font-size: 22px;
    text-align: center;
    font-family: monospace;
}

.galeriaItem1:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 1;
}

.galeriaItem1:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}

.galeriaItem1:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 1;
}

.galeriaItem1:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 2;
}

.galeriaItem1:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 2;
}

.galeriaItem1:nth-child(6) {
    grid-row-start: span 3;
    grid-column-start: span 1;
}

.galeriaItem1:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 1;
}

.galeriaItem1:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: span 1;
}

.tituloYo1 {
    color: #0e0d0dd3;
    font-size: 22px;
    font-family: monospace;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.parrafoYo1 {
    color: #0e0d0dd3;
    font-size: 16px;
    font-family: serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width:1024px) {
    .galeriaContainer {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin: auto;
    }
    .galeriaItem:nth-child(4) {
        grid-column-start: span 2;
    }
    .galeriaItem:nth-child(1) {
        grid-row-start: span 2;
    }
    .galeriaItem:nth-child(5) {
        grid-column-start: span 2;
    }
}

@media (min-width:426px) and (max-width:768px) {
    .galeriaContainer {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: auto;
    }
    .galeriaItem:nth-child(4) {
        grid-column-start: span 2;
    }
    .galeriaItem:nth-child(1) {
        grid-row-start: span 2;
    }
    .galeriaItem:nth-child(5) {
        grid-column-start: span 2;
    }
}

@media (min-width:0px) and (max-width:425px) {
    .galeriaContainer {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: auto;
    }
    .galeriaItem:nth-child(4) {
        grid-column-start: span 2;
    }
    .galeriaItem:nth-child(1) {
        grid-column-start: span 2;
    }
    .galeriaItem:nth-child(3) {
        grid-column-start: span 2;
    }
    .galeriaItem:nth-child(2) {
        grid-column-start: span 2;
    }
}