.bodyIndex{
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/logofondo.jpg);
    background-attachment: fixed;
    background-size: 100%;
}   
.carruselIndex{
    margin: 0 20px 0 20px;
}

