.bodyIndex{
    margin: 0;
    padding: 0;
    background: black;
}
.carruselIndex{
    margin: 0 20px 0 20px;
}
/* css nav*/

.nav-link{
    margin-left: 16px !important;
    padding-top: 26px;
    color: rgb(190, 190, 190) !important;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px !important;
} 
.navIndex{
    padding-left: 560px;
}
.logoNav{
    padding-left: 14px;
}
.navbar{
    margin: -5px !important;
}
/* css footer*/
.footerDiv{
    margin-right: -100px;
    margin-left: -100px;
    margin-top: 14px;
}
.parrafoFooter{
    font-size: 18px;
    font-family: 'Nanum Gothic Coding', monospace;
    color: rgb(190, 190, 190);
    margin-top: 12px;
}
.logoFooter{
    margin-left: -20px;
}
