/* hr */ 
hr{
    border: rgb(230, 230, 230) 0.1px groove;
    
}


/* css nav*/

.nav-link{
    margin-left: 16px !important;
    padding-top: 26px;
    color: rgb(204, 204, 204) !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px !important;
} 
.navIndex{
    padding-left: 560px;
}
.logoNav{
    padding-left: 14px;
}
.navbar{
    margin: -5px !important;
}