/* hr */

hr {
    border: rgb(218, 185, 3) 0.1px groove;
}


/* css nav*/

.nav-link {
    margin-left: 16px !important;
    padding-top: 26px;
    color: rgb(218, 185, 3) !important;
    font-family: sans-serif, ;
    font-size: 20px !important;
}

.navIndex {
    padding-left: 560px;
}

.logoNav {
    padding-left: 14px;
}

.navbar {
    margin: -5px !important;
    background: black;
    opacity: 0.7;
}

.navbar-light .navbar-toggler {
    border-color: white;
}