/* hr */

hr {
    border: yellow 0.1px solid;
    margin: 6px 0 1px 0;
}


/* css nav*/

.nav-link {
    margin-left: 16px !important;
    padding-top: 26px;
    color: yellow !important;
    font-family: sans-serif, ;
    font-size: 20px !important;
}

.navIndex {
    padding-left: 560px;
}

.logoNav {
    padding-left: 14px;
}

.navbar {
    margin: -5px !important;
    background: linear-gradient(rgba(85, 84, 84, 0.472), black);
    opacity: 0.7;
}

.navbar-light .navbar-toggler {
    border-color: white;
}