.bodyQuien {
    margin: 0;
    text-align: center;
}

.modal {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    animation: modal 2s 1s forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 41;
}

.contenidoPop {
    text-align: center;
    margin: auto;
    width: 350px;
    height: 300px;
    background: white;
    border-radius: 10px;
}

#cerrar {
    display: none;
}

#cerrar+label {
    position: fixed;
    color: #fff;
    font-size: 25px;
    z-index: 50;
    background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 300px;
    top: 130px;
    cursor: pointer;
    animation: modal 2s 1s forwards;
    visibility: hidden;
    opacity: 0;
    padding: 0 12px;
}

#cerrar:checked+label,
#cerrar:checked~.modal {
    display: none;
}

@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
}